</main>

    <!-- TODO: Add back icons to different contact mechanisms -->

    <footer>
      <nav class="navbar" style="border-bottom: 0; border-top: 1px solid #eee;">
	<div class="container">
	  <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="#">Twitter</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#">Email</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#">LinkedIn</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#">GitHub</a></li>
	    <li class="navbar-item"><a class="navbar-link" href="#">RSS Feed</a></li>
	  </ul>
	</div>
      </nav>
    </footer>
    {{ if .Params.includes_code }}
    <script src="/scripts/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {{ end }}
    {{ if .Params.includes_math }}
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {{ end }}
    {{ if .Params.includes_video }}
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/scripts/jquery.fitvids.js"></script>
    <script>
    (function ($, undefined) {
      "use strict";
      var $document = $(document);
      $document.ready(function () {
        var $postContent = $(".post-content");
        $postContent.fitVids();
      });
    })(jQuery);
    </script>
    {{ end }}
    {{ if eq .URLPath.URL "/projects/" }}
    {{ end }}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-139341-10', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
