</main>

<!-- TODO: Rethink structure of the footer and clean up markup -->

    <!--
    <aside role="complementary">
      <h3 id="complimentary-description">About Harish Narayanan</h3>
      <p>He recieved his Ph.D. in 2007 and has since been a vagabond...</p>
    </aside>
    -->

    <hr>

    <footer>
      <nav>
	<div class="container">
	  <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="https://twitter.com/copingbear">Follow me on Twitter</a></li>
            <li class="navbar-item"><a class="navbar-link" href="mailto:mail@harishnarayann.org">Email me</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/index.xml">Subscribe to the feed</a></li>
<!--            <li class="navbar-item"><a class="navbar-link" href="/">© 2015 Harish Narayanan</a></li>-->
	  </ul>
	</div>
      </nav>
    </footer>
    {{ if .Params.includes_code }}
    <script src="/scripts/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {{ end }}
    {{ if .Params.includes_math }}
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {{ end }}
    {{ if .Params.includes_video }}
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/scripts/jquery.fitvids.js"></script>
    <script>
    (function ($, undefined) {
      "use strict";
      var $document = $(document);
      $document.ready(function () {
        var $postContent = $(".post-content");
        $postContent.fitVids();
      });
    })(jQuery);
    </script>
    {{ end }}
    {{ if eq .URLPath.URL "/projects/" }}
    {{ end }}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-139341-10', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>


<!-- 	    <\!-- TODO: Remove all inline styling and make such contact links work even without svg or css -\-> -->
<!-- 	    <address> -->
<!-- 	       <img class="svg-icon" alt="" src="/img/icons/twitter.svg"> -->
<!-- 	       <img class="svg-icon" alt="" src="/img/icons/github.svg"> -->
<!-- 	       <img class="svg-icon" alt="" src="/img/icons/mail.svg"> -->
<!-- 	       <img class="svg-icon" alt="" style="padding-bottom: 2px; width: 19px;" src="/img/icons/linkedin.svg"> -->
<!-- <\!--         <a href="mailto:mail@harishnarayanan.org">Email</a> &mdash; <a href="#">Twitter</a>, <a href="#">GitHub</a>, <a href="#">LinkedIn</a>-\-> -->
<!--       </address> -->

<!--	    © Copyright 2015 Harish Narayanan-->
